.about {
  h3 {
    font-size: 2.5em;
    color: #fff;

    span {
      color: #f3286c;
    }
  }

  h4 {
    font-size: 1.2em;
    color: #a5a5a5;
    margin-top: 1em;
  }
}

.about-left img {
  border: 5px solid #1dadd3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
}

ul.address {
  margin-top: 1.5em;
  border-top: 1px dashed #1d7288;
  padding-top: 0.5em;

  li {
    display: block;

    ul.agileits-address-text li {
      display: inline-block;
      font-size: 1.2em;
      color: #fff;
      margin-top: 1em;
      font-weight: 100;

      &:nth-child(1) {
        width: 20%;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #0FF;
        }
      }
    }
  }
}

.about-text {
  padding: 3em 3em  0;
}

p {
  &.agile-br {
    margin-top: 1em;
  }

  font-size: 1em;
  color: #fff;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .about-left img {
    width: 38%;
    margin: 0 auto 1em;
  }

  .about-right {
    padding: 0 3em;
  }

  .about h3 {
    font-size: 2.2em;
  }

  .about-text {
    padding: 2em 3em 0;
  }
}

@media (max-width: 768px) {
  .about-right {
    padding: 0 2em;
  }

  .about-text {
    padding: 1.5em 2em 0;
  }
  p.agile-br {
    margin-top: 0.8em;
  }
}

@media (max-width: 640px) {
  .about h3 {
    font-size: 2em;
  }
}

@media (max-width: 568px) {
  .about-left img {
    width: 45%;
    border-width: 3px;
    padding: 5px;
  }

  .about {
    h3 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1em;
      margin-top: 0.8em;
    }
  }

  ul.address li ul.agileits-address-text li {
    font-size: 1.1em;
    margin-top: 0.8em;
  }

  .about-right, .bar-grids {
    padding: 0 1.5em;
  }

  .about-text {
    padding: 1.5em 1.5em 0;
  }
}

@media (max-width: 414px) {
  .about-right, .bar-grids {
    padding: 0 0.5em;
  }

  .about-text {
    padding: 1em 0.5em 0;
  }

  ul.address li ul.agileits-address-text li {
    font-size: 1em;
  }

  .about h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  .about {
    h3 {
      font-size: 1.3em;
    }

    h4 {
      font-size: 0.9em;
    }
  }

  ul.address li ul.agileits-address-text li {
    font-size: 0.9em;
  }

  .about-text {
    padding: 0.8em 0 0;
  }

  .about-right, .bar-grids {
    padding: 0;
  }

  p.agile-br {
    margin-top: 0.5em;
  }
}