@import '../../sass/theme.scss';

.bar-grids {
  padding: 0 4em;

  h4 {
    font-size: 1.6em;
    color: $colorSecondary;
    margin-bottom: 1.5em;
    border-bottom: 1px dashed #484848;
    padding-bottom: 0.5em;
    font-weight: 600;

    span.glyphicon {
      margin-right: 0.8em;
    }
  }
}

.progress {
  height: 20px;
  margin-bottom: 2.2em;
  background-color: #484848;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.progress-bar {
  background-color: $colorPrimary;
}

.bar-grids h6 {
  font-size: 1em;
  color: #fff;
  margin-bottom: 0.6em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 2px;

  span {
    float: right;
    font-size: 0.9em;
  }
}

@media (max-width: 800px) {
  .progress {
    margin-bottom: 2em;
  }
}

@media (max-width: 768px) {
  .bar-grids {
    padding: 0 2em;
  }

  .progress {
    margin-bottom: 1.5em;
    height: 15px;

    &.prgs-w3agile-last {
      margin-bottom: 0;
    }
  }

  .bar-grids {
    h4 {
      margin-bottom: 1em;
    }

    &:nth-child(2) {
      margin-top: 2.5em;
    }
  }

  .gallery-row {
    padding: 0 1em;
  }
}

@media (max-width: 568px) {
  .gallery-row {
    padding: 0 0.5em;
  }
}

@media (max-width: 414px) {
  .bar-grids {
    h4 {
      font-size: 1.4em;

      span.glyphicon {
        margin-right: 0.2em;
      }
    }

    h6 {
      font-size: 0.9em;
    }
  }

  .progress {
    height: 12px;
  }

  .bar-grids:nth-child(2) {
    margin-top: 2em;
  }
}

@media (max-width: 320px) {
  .bar-grids h4 {
    font-size: 1.2em;
  }

  .progress {
    height: 9px;
  }
}