.video {
  background: url(/public/images/cv.jpg) no-repeat;
  background-position: 0px 0px;
  text-align: left;
  min-height: 100%;
  background-size: cover;
}

.banner-text {
  margin: 22em 0 10em;
  text-align: center;
  background: rgba(0, 0, 0, 0.72);
  display: inline-block;
  padding: 4em;

  h1 {
    font-size: 3.5em;
    color: #fff;
    font-weight: 900;
  }

  h6 {
    font-size: 1.2em;
    color: #cac7c8;
    margin-top: 1em;
    letter-spacing: 3px;
    font-weight: 900;
  }
}

.video iframe {
  width: 100%;
  min-height: 15em;
  border: 1px solid #b3b3b3;
}

@media(max-width:1024px){
  .banner-text {
    margin: 22em 0 7.1em;
  }
}
@media(max-width:991px){
  .banner-text h1 {
    font-size: 3.2em;
  }
  .banner-text {
    margin: 22em 0 6em;
    padding: 3em;
  }
}
@media(max-width:800px){
  .banner-text h1 {
    font-size: 2.8em;
  }
}
@media(max-width:736px){
  .banner-text {
    margin: 19em 0 6em;
  }
  .banner-text h1 {
    font-size: 2.5em;
  }
  .banner-text h6 {
    font-size: 1.1em;
    letter-spacing: 2px;
  }
}
@media (max-width: 667px){
  .banner-text {
    margin: 16em 0 6em;
  }
}
@media(max-width:480px){
  .banner-text {
    margin: 13em 0 6em;
  }
  .banner-text h6 {
    font-size: 1em;
    letter-spacing: 0;
  }
  .banner-text h1 {
    font-size: 1.8em;
  }
}
@media(max-width:414px) {
  .banner-text {
    margin: 23.5em 0 6em;
    padding: 2em;
  }
}
@media(max-width:384px) {
  .banner-text {
    margin: 16.6em 0 6em;
  }
  .banner-text h1 {
    font-size: 1.8em;
  }
}
@media(max-width:320px) {
  .banner-text h1 {
    font-size: 1.5em;
  }
  .banner-text h6 {
    font-size: 0.9em;
  }
  .banner-text {
    margin: 15em 0 2.6em;
    padding: 1.2em 1.5em;
  }
}